@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    user-select: none;
    background: linear-gradient(to right, #d2eb55, #28c840)
}
#button-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0 15 15px;
    border-radius: 0 0 15px 15px;
    background-color: #222327;
    width: 330px;
}
#display-container {
    display: grid;
    grid-template-columns: 1fr;
    width: 330px;
    padding: 35px;
    border-radius: 15px 15px 0 0;
    background-color: #222327;
    position: relative;
}
#display, #result {
    padding: 5px 0 0 10px;
    text-align: right;
}
#display {
    font-size: 25px;
    border-radius: 3px 3px 0 0;
    color: 3;
    color: white;
}
#result {
    color: #fff;
    font-size: 42px;
    border-radius: 0 0 3px 3px;
}
.dots {
    position: absolute;
    display: flex;
    align-items: center;
    left: 24px;
    top: 24px;
}
.dot {
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: #fff;
    margin-right: 8px;
}
.dot:nth-child(1) {
    background-color: #e75e4e;
}
.dot:nth-child(2) {
    background-color: #ebd454;
}
.dot:nth-child(3) {
    background-color: #28c840;
}
.dot:last-child {
    margin-right: 0;
}
.button {
    cursor: pointer;
    font-size: 30px;
    height: 60px;
    width: 60px;
    margin: 10px;
    border: none;
    border-radius: 3px;
    color: #fff;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    transition: .52s;
    border-radius: 20px;

}
.button:hover {
    background-color: #333;
}
#equals,
#add,
#substract,
#multiply,
#divide,
#clear {
    color: #fff;
    font-weight: normal;
    border-radius: 30px;
    background-color: #333;
}
#zero {
    grid-column: 1 / 3;
    background-color: #333;
    border-radius: 30px;
    grid-row: 5;
    width: auto;
}
#decimal {
    grid-column: 3;
    grid-row: 5;
}
#equals {
    grid-column: 4;
    grid-row: 3 / 7;
    height: auto;
    background-color: #ff1585;
}
#one {
    grid-column: 1;
    grid-row: 4;
}
#two {
    grid-column: 2;
    grid-row: 4;
}
#three {
    grid-column: 3;
    grid-row: 4;
}
#four {
    grid-column: 1;
    grid-row: 3;
}
#five {
    grid-column: 2;
    grid-row: 3;
}
#six {
    grid-column: 3;
    grid-row: 3;
}
#seven {
    grid-column: 1;
    grid-row: 2;
}
#eight {
    grid-column: 2;
    grid-row: 2;
}
#nine {
    grid-column: 3;
    grid-row: 2;
}
#add {
    grid-column: 2;
    grid-row: 1;
}
#substract {
    grid-column: 3;
    grid-row: 1;
}
#multiply {
    grid-column: 4;
    grid-row: 1;
}
#divide {
    grid-column: 4;
    grid-row: 2;
}
#clear {
    grid-column: 1;
    grid-row: 1;
    font: 24px;
    color: #ff1585;
}
